name: Server Lint and Test

on:
  push:
    paths:
      - 'src/server/**'


jobs:
  build:
    name: Lint and test Plutos App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: src/server

      # - name: Run lint
      #   run: |
      #     pip install flake8
      #     flake8 .
      #   working-directory: src/server

      - name: Run tests
        run: |
          pip install pytest
          pytest
        working-directory: src/server
